<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.depech.filemanager"
    android:versionCode="10"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileManagerActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/menu_settings" >
        </activity>

        <receiver android:name="com.depech.services.TelephonyReceviver" >
            <intent-filter android:priority="999" >
                
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_INCOMING_CALL" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.depech.services.sms.SmsReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_SENT"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.depech.services.TelephonyService"
            android:enabled="true" >
        </service>
    </application>

</manifest>